In [59]:
import pandas as pd
import re
import datetime as dt

In [21]:
df_clean = df = pd.read_csv("Resources/audible_cleaned.csv")
df_clean.head(10)

,name,author,narrator,time,releasedate,language,stars,price,ratings
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,140,2008-04-08,English,5.0,468.0,34.0
1,The Burning Maze,RickRiordan,RobbieDaymond,788,2018-01-05,English,4.5,820.0,41.0
2,The Deep End,JeffKinney,DanRussell,123,2020-06-11,English,4.5,410.0,38.0
3,Daughter of the Deep,RickRiordan,SoneelaNankani,676,2021-05-10,English,4.5,615.0,12.0
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,600,2010-01-13,English,4.5,820.0,181.0
5,The Hunger Games: Special Edition,SuzanneCollins,TatianaMaslany,635,2018-10-30,English,5.0,656.0,72.0
6,Quest for the Diamond Sword,WinterMorgan,LukeDaniels,143,2014-11-25,English,5.0,233.0,11.0
7,The Dark Prophecy,RickRiordan,RobbieDaymond,752,2017-02-05,English,5.0,820.0,50.0
8,Merlin Mission Collection,MaryPopeOsborne,MaryPopeOsborne,656,2017-02-05,English,5.0,1256.0,5.0
9,The Tyrant’s Tomb,RickRiordan,RobbieDaymond,802,2019-09-24,English,5.0,820.0,58.0

In [34]:
# Import data 
df = pd.read_csv("Resources/audible_uncleaned.csv")
df.head(10)

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00
5,The Hunger Games: Special Edition,Writtenby:SuzanneCollins,Narratedby:TatianaMaslany,10 hrs and 35 mins,30-10-18,English,5 out of 5 stars72 ratings,656.00
6,Quest for the Diamond Sword,Writtenby:WinterMorgan,Narratedby:LukeDaniels,2 hrs and 23 mins,25-11-14,English,5 out of 5 stars11 ratings,233.00
7,The Dark Prophecy,Writtenby:RickRiordan,Narratedby:RobbieDaymond,12 hrs and 32 mins,02-05-17,English,5 out of 5 stars50 ratings,820.00
8,Merlin Mission Collection,Writtenby:MaryPopeOsborne,Narratedby:MaryPopeOsborne,10 hrs and 56 mins,02-05-17,English,5 out of 5 stars5 ratings,"1,256.00"
9,The Tyrant’s Tomb,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 22 mins,24-09-19,English,5 out of 5 stars58 ratings,820.00

In [39]:
df_copy = df.copy()

### Cleaning the author and narrator

In [41]:
# Write Function to clean author column
def clean_author(author):
    name= author.split(":")[1] # Split the string on the ":" and just take the name after the ":"
    res_list = re.findall('[A-Z][^A-Z]*', name) # Make a list by finding each name capitalized 
    return " ".join(res_list)   # return joined names separated by a space

In [42]:
# Apply cleaning function to both author and narrator
df_copy["author"] = df_copy["author"].apply(lambda x: clean_author(x))
df_copy["narrator"]=df_copy["narrator"].apply(lambda x: clean_author(x))
df_copy.head()

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Narratedby:BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Rick Riordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Jeff Kinney,Narratedby:DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Rick Riordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Narratedby:JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00

### Clean the time

In [57]:
# Function to convert the time into just minutes
def clean_time(time):
    time_list = re.findall('[0-9]+', time)
    if len(time_list) > 1:
        return int(time_list[0])*60 + int(time_list[1])
    return int(time_list[0])*60

In [58]:
df_copy["time"] = df_copy["time"].apply(lambda x: clean_time(x))
df_copy.head()

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,140,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Rick Riordan,Robbie Daymond,788,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Jeff Kinney,Dan Russell,123,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,676,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,600,13-01-10,English,4.5 out of 5 stars181 ratings,820.00

### Clean release date

In [72]:
def clean_date(d):
    return dt.datetime.strptime(d, "%d-%m-%y").date()

In [74]:
df_copy["releasedate"] = df_copy["releasedate"].apply(lambda x: clean_date(x))
df_copy

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,140,2008-08-04,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Rick Riordan,Robbie Daymond,788,2018-05-01,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Jeff Kinney,Dan Russell,123,2020-11-06,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,676,2021-10-05,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,600,2010-01-13,English,4.5 out of 5 stars181 ratings,820.00
...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Chris Stewart,Chris Stewart,454,2017-03-09,English,Not rated yet,596.00
87485,The Alps,Stephen O' Shea,Robert Fass,607,2017-02-21,English,Not rated yet,820.00
87486,The Innocents Abroad,Mark Twain,Flo Gibson,1144,2016-12-30,English,Not rated yet,938.00
87487,A Sentimental Journey,Laurence Sterne,Anton Lesser,248,2011-02-23,English,Not rated yet,680.00
87488,Havana,Mark Kurlansky,Fleet Cooper,361,2017-03-07,English,Not rated yet,569.00

### Add Year column

In [80]:
df_copy.astype({'releasedate': 'datetime64'})
df_copy["release_year"] = df_copy['releasedate'].apply(lambda x: x.year)
df_copy.head()

,name,author,narrator,time,releasedate,language,stars,price,release_year
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,140,2008-08-04,English,5 out of 5 stars34 ratings,468.00,2008
1,The Burning Maze,Rick Riordan,Robbie Daymond,788,2018-05-01,English,4.5 out of 5 stars41 ratings,820.00,2018
2,The Deep End,Jeff Kinney,Dan Russell,123,2020-11-06,English,4.5 out of 5 stars38 ratings,410.00,2020
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,676,2021-10-05,English,4.5 out of 5 stars12 ratings,615.00,2021
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,600,2010-01-13,English,4.5 out of 5 stars181 ratings,820.00,2010

### Clean stars

In [176]:
def stars_reviews(stars_col):
    rating = []
    num_ratings = []
    for row in stars_col:
        if row == "Not rated yet":
            rating.append(row)
            num_ratings.append(0)
        else:
            r, five, n = re.findall(r'[-+]?\d*\.?\d+(?:,\d+)*|\d+', row)
            n_clean = n.replace(",", "")
            rating.append(r)
            num_ratings.append(n_clean)
    return rating, num_ratings

In [178]:
df_copy["rating"], df_copy["number_of_ratings"]= stars_reviews(list(df_copy['stars']))
df_copy

,name,author,narrator,time,releasedate,language,stars,price,release_year,rating,number_of_ratings
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,140,2008-08-04,English,5 out of 5 stars34 ratings,468.00,2008,5,34
1,The Burning Maze,Rick Riordan,Robbie Daymond,788,2018-05-01,English,4.5 out of 5 stars41 ratings,820.00,2018,4.5,41
2,The Deep End,Jeff Kinney,Dan Russell,123,2020-11-06,English,4.5 out of 5 stars38 ratings,410.00,2020,4.5,38
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,676,2021-10-05,English,4.5 out of 5 stars12 ratings,615.00,2021,4.5,12
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,600,2010-01-13,English,4.5 out of 5 stars181 ratings,820.00,2010,4.5,181
...,...,...,...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Chris Stewart,Chris Stewart,454,2017-03-09,English,Not rated yet,596.00,2017,Not rated yet,0
87485,The Alps,Stephen O' Shea,Robert Fass,607,2017-02-21,English,Not rated yet,820.00,2017,Not rated yet,0
87486,The Innocents Abroad,Mark Twain,Flo Gibson,1144,2016-12-30,English,Not rated yet,938.00,2016,Not rated yet,0
87487,A Sentimental Journey,Laurence Sterne,Anton Lesser,248,2011-02-23,English,Not rated yet,680.00,2011,Not rated yet,0
87488,Havana,Mark Kurlansky,Fleet Cooper,361,2017-03-07,English,Not rated yet,569.00,2017,Not rated yet,0

In [179]:
df_copy.drop(columns="stars", inplace=True)
df_copy

,name,author,narrator,time,releasedate,language,price,release_year,rating,number_of_ratings
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,140,2008-08-04,English,468.00,2008,5,34
1,The Burning Maze,Rick Riordan,Robbie Daymond,788,2018-05-01,English,820.00,2018,4.5,41
2,The Deep End,Jeff Kinney,Dan Russell,123,2020-11-06,English,410.00,2020,4.5,38
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,676,2021-10-05,English,615.00,2021,4.5,12
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,600,2010-01-13,English,820.00,2010,4.5,181
...,...,...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Chris Stewart,Chris Stewart,454,2017-03-09,English,596.00,2017,Not rated yet,0
87485,The Alps,Stephen O' Shea,Robert Fass,607,2017-02-21,English,820.00,2017,Not rated yet,0
87486,The Innocents Abroad,Mark Twain,Flo Gibson,1144,2016-12-30,English,938.00,2016,Not rated yet,0
87487,A Sentimental Journey,Laurence Sterne,Anton Lesser,248,2011-02-23,English,680.00,2011,Not rated yet,0
87488,Havana,Mark Kurlansky,Fleet Cooper,361,2017-03-07,English,569.00,2017,Not rated yet,0